<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {% if site.data.home.old_project_entries == include.collection %}
      <a href="{{ item.url }}" target="_blank">
      {% else %}
      <a href="{{ item.url }}">
      {% endif %}
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
